{% extends "base.html" %}

{% block content %}
    <h3>{{ object }}</h3>
    <div class="row">
        {% for object in products %}
            <div class="col-xs-4">
                <div class="thumbnail text-center">
                    <h4>
                        <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                    </h4>
                    {% if object.get_image_url %}
                        <a href="{{ object.get_absolute_url }}"><img class="img-responsive"
                                                                     src="{{ object.get_image_url }}"></a>
                    {% endif %}
                </div>
            </div>
            {% cycle '' '' '</div><hr/><div class="row">' %}
        {% endfor %}
    </div>
{% endblock %}